@use 'common/vars' as *;
@use 'mixins/mixins.scss' as *;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

@include b(icon) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  @include when(spin) {
    animation: spin 2s linear infinite;
  }
}
