@use "mixins/mixins.scss" as mix;
@use "common/vars" as *;
@use "mixins/config.scss" as config;

@include mix.b(input) {
  --lb-input-width: var(--lb-width-container-base);
  --lb-input-text-color-placeholder: var(--lb-text-color-placeholder, #a8a8a8);
  --lb-input-text-color-regular: var(--lb-text-color-regular, #333);
  --lb-input-border-color: var(--lb-border-color, #dcdfe6);
  --lb-input-border-radius-base: var(--lb-border-radius-base, 4px);
  --lb-input-color-primary: var(--lb-color-primary, #409eff);
  --lb-input-disabled-bg-color: var(--lb-disabled-bg-color, #f5f7fa);
  --lb-input-disabled-border-color: var(--lb-disabled-border-color, #e4e7ed);
  --lb-input-disabled-text-color: var(--lb-disabled-text-color, #c0c4cc);
  --lb-input-font-size: var(--lb-font-size-base);
  --lb-input-transition-duration: var(--lb-transition-duration-fast, 0.2s);
  --lb-input-padding: 6px 10px;
  --lb-input-gap: var(--lb-gap-small, 8px);
  --lb-input-count-color: var(--lb-input-text-color-placeholder);
  --lb-input-count-font-size: var(--lb-font-size-small);
  --lb-input-count-position-right: 6px;
  --lb-input-count-position-bottom: 10px;
  --lb-input-prepend-bg-color: var(--lb-color-info-light-8);
  --lb-input-prepend-border-color: var(--lb-border-color, #dcdfe6);
  --lb-input-height: var(--lb-height-small);
}

@include mix.b(input) {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0;
  height: var(--lb-input-height);
  transition: border-color var(--lb-input-transition-duration)
    cubic-bezier(0.645, 0.045, 0.355, 1);
  &:focus-within {
    --lb-input-border-color: var(--lb-input-color-primary);
  }

  button.#{config.$namespace}-button,
  select.#{config.$namespace}-select {
    border: none;
    background-color: transparent;
    color: var(--lb-input-text-color-regular);
    &:focus,
    &:hover {
      background-color: transparent;
      color: var(--lb-input-text-color-regular);
    }
  }

  @include mix.e((prepend, append)) {
    background-color: var(--lb-fill-color-blank);
    font-size: var(--lb-input-font-size);
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    height: 100%;
    overflow: hidden;
    padding: var(--lb-input-padding);
    border: 1px solid var(--lb-input-prepend-border-color);
  }

  @include mix.e(prepend) {
    border-radius: var(--lb-border-radius-base) 0 0 var(--lb-border-radius-base);
    border-right: none;
  }

  @include mix.e(append) {
    border-radius: 0 var(--lb-border-radius-base) var(--lb-border-radius-base) 0;
    border-left: none;
  }

  @include mix.e(wrapper) {
    position: relative;
    padding: var(--lb-input-padding);
    display: flex;
    align-items: center;
    height: 100%;
    border: 1px solid var(--lb-input-border-color);
    border-color: var(--lb-input-border-color);
    border-radius: var(--lb-input-border-radius-base);
    gap: var(--lb-input-gap);
    @include mix.m(prepend) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    @include mix.m(append) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  @include mix.e(inner) {
    flex-grow: 1;
    min-height: 100%;
    width: var(--lb-input-width);
    border: none;
    outline: none;
    resize: vertical;
    font-size: var(--lb-input-font-size);
    &::placeholder {
      color: var(--lb-input-text-color-placeholder);
    }

    &[disabled] {
      background-color: var(--lb-input-disabled-bg-color);
      border-color: var(--lb-input-disabled-border-color);
      color: var(--lb-input-disabled-text-color);
      cursor: not-allowed;
    }
  }

  @include mix.e(suffix) {
    display: inline-flex;
    align-items: center;
    gap: var(--lb-input-gap);
    justify-content: center;
    color: var(--lb-input-text-color-placeholder);
  }

  @include mix.e(icon) {
    cursor: pointer;
    &:hover {
      color: var(--lb-input-text-color-regular);
    }
  }

  @include mix.m(large) {
    --lb-input-padding: 8px 12px;
    --lb-input-font-size: var(--lb-input-font-size-large);
  }

  @include mix.m(small) {
    --lb-input-padding: 4px 8px;
    --lb-input-font-size: var(--lb-input-font-size-small);
  }

  @include mix.e(count) {
    position: absolute;
    line-height: var(--lb-input-count-font-size);
    right: var(--lb-input-count-position-right);
    bottom: var(--lb-input-count-position-bottom);
    background-color: white;
    color: var(--lb-input-count-color);
    font-size: var(--lb-input-count-font-size);
  }

  @include mix.when(textarea) {
    --lb-input-padding: 6px;
    --lb-input-count-position-right: 20px;
    --lb-input-count-position-bottom: 6px;
  }
}
