@use 'common/vars' as *;
@use 'mixins/mixins.scss' as mix;

@include mix.b(col) {
  box-sizing: border-box;
  min-height: 1px;

  @for $i from 0 through 24 {
    @include mix.m(#{$i}) {
      width: calc(1 / 24 * $i * 100%);
    }

    @include mix.m(offset-#{$i}) {
      margin-left: calc(1 / 24 * $i * 100%);
    }

    @include mix.m(pull-#{$i}) {
      position: relative;
      right: calc(1 / 24 * $i * 100%);
    }

    @include mix.m(push-#{$i}) {
      position: relative;
      left: calc(1 / 24 * $i * 100%);
    }
  }

  $breakpoints: (xs: 0, sm: 768px, md: 992px, lg: 1200px, xl: 1920px);

  @each $breakpoint, $width in $breakpoints {
    @media (min-width: $width) {
      @for $i from 0 through 24 {
        @include mix.m(#{$breakpoint}-#{$i}) {
          width: calc(1 / 24 * $i * 100%);
        }

        @include mix.m(#{$breakpoint}-offset-#{$i}) {
          margin-left: calc(1 / 24 * $i * 100%);
        }

        @include mix.m(#{$breakpoint}-pull-#{$i}) {
          position: relative;
          right: calc(1 / 24 * $i * 100%);
        }

        @include mix.m(#{$breakpoint}-push-#{$i}) {
          position: relative;
          left: calc(1 / 24 * $i * 100%);
        }
      }
    }
  }
}
